body {
    margin: 0;
    padding: 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.border {
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
}

.container {
    max-width: 900px;
    display: flex;
    flex-direction: column;
}

.h150 {
    height: 150px;
}

.background-silver {
    background: silver;
}

.m1 {
    margin: 1%;
}

.b {
    width: 600px;
}

.flex {
    display: flex;
}

.w200 {
    width: 200px;
}

.f {
    width: 300px;
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .a {
        height: 70px;
    }

    .b {
        height: 150px;
        width: 100%;
    }

    .c {
        flex-direction: column;
    }

    .cde {
        height: 70px;
        width: 33.3%;
        border-radius: 50%;
        margin: 10% 1% 10% 1%;
    }

    .f {
        width: 100%;

    }

}