*{
    margin: 0;
    padding: 0;
}

.padding_1{
    padding-top: 30px;
}
.header-top{
    padding-top: 20px;
    padding-bottom: 10px;
}
.header-right{
    display: flex;
    justify-content: flex-end;
}
.btn-dark{
    width: 200px;
}
.icon{
    margin: 5px;
}
.text{
    height: 300px;
    background: slategray;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title-1{
    padding-top: 60px ;
    padding-bottom: 20px;
}
.image{
    height: 200px;
}
.image-2{
    height: 400px;
}
.image-3{
    width: 310px;
    height: 310px;
}
.col-md-8{
    display: flex;
    align-items: center;
}
.background{
    background: slategray;
}
